{% load static %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license.
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Upward Mobility </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <!-- <link href="css/custom.css" rel="stylesheet"> -->
    <link href="{% static 'mobility/css/main.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
    <!-- select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        {% block extra_headers %}
        {% endblock extra_headers %}
</head>

{% block extra_style %}
{% endblock extra_style %}
<body>
    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                	<!-- <span class="glyphicon glyphicon-earth"></span> -->
                	Upward Mobility
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="{% url 'national_view' %}">US National View</a></li>
                            <li><a href="{% url 'county_finder' %}">County Finder</a></li>
                            <li><a href="{% url 'county_details' %}">County Details</a></li>
                            <li><a href="{% url 'county_comparison' %}">County Comparison</a></li>
						</ul>
					</li>
                    <li><a href="{% url 'post_list' %}">Blog</a></li>
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="{% url 'post_detail' slug='metric-glossary' %}">Glossary</a></li>
						</ul>
					</li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
{% block content %}

{% endblock content %}
	<!-- Footer -->
    <footer class="page-footer">

    	<!-- Contact Us -->
        <!-- <div class="contact">
        	<div class="container">
				<h2 class="section-heading">Contact Us</h2>
				<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
				<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div> -->

        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Upward Mobility Capstone 2022 | University of Michigan Applied Data Science<br>
                <a class="font-weight:bold;" href="https://www.rachellcalhoun.com/">Rachell Calhoun</a> |
                 David Coe |
                 Liz Giancola |
                <a href="https://www.linkedin.com/in/lauren-wolf-50500140">Lauren Wolf</a></p>
        	</div>
        </div>


    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!-- Custom Javascript -->
    <script type="text/javascript">
    // Offset for Site Navigation
        $('#siteNav').affix({
            offset: {
                top: 100
            }
        })
    </script>

</body>

</html>
