{% extends 'mobility/regular_base.html' %}
{% load static %}

{% block main_content %}
<div class="container" style="min-height:0px;">
  <h2>County Details </h2>
  <p class="lead">
      Choose a county to see metric details.
  </p>
  <form method="get" class="form-inline">
    {{ form }}
    <button class="btn btn-primary">Submit </button>
  </form>
  {% if fips %}
  <p>FIPS code : {{fips}}</p>
</div>
<div class="frame-container">
    <iframe class="responsive-iframe"  src="{{ streamlit_url }}&fips={{fips}}" >

    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
  {% endif %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#id_fips').select2({placeholder: 'Select a County'});
  });
     </script>
{% endblock main_content %}